:root {
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --DarkGrayishRed: hsl(0, 6%, 24%);
}

.app {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.left-section {
  flex: 1;
  padding: 0% 5%; /* 使用相对值以便在缩放时等比调整 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url("../assets/images/bg-pattern-desktop.svg");
  min-width: 0; /* 确保内容不会超出容器 */
}

.content-container {
  margin-left: 100px;
  width: 100%; /* 确保容器宽度适应内容 */
}

.right-section {
  flex: 1;
  background: url("../assets/images/hero-desktop.jpg") no-repeat center/cover;
  min-width: 0; /* 确保内容不会超出容器 */
}
