:root {
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --DarkGrayishRed: hsl(0, 6%, 24%);
}

.app {
  display: flex;
  height: 100vh;
}

.left-section {
  flex: 1;
  padding: 65px 65px 200px 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../assets/images/bg-pattern-desktop.svg");
}

.right-section {
  flex: 1;
  background: url("../assets/images/hero-desktop.jpg") no-repeat center/cover;
}
