@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

@media (max-width: 765px) {
  body {
    height: 100%;
  }
}
