.description {
  color: var(--DesaturatedRed);
  width: 27.75rem;
  line-height: 1.5;
  margin-bottom: 3.125rem;
}

@media (max-width: 765px) {
  .description {
    width: 19.4rem;
    padding-top: 1.875rem;
    padding-left: 2rem;
    margin-bottom: 0.9375rem;
    font-weight: 300;
  }
}
