.input-email {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: var(--DarkGrayishRed);
  border: none;
  background: none;
  width: 26rem;
  height: 3.25rem;
  margin-bottom: 20px;
  border-radius: 3.125rem;
  border: 1px solid var(--DesaturatedRed);
  padding-left: 1.5rem;
}

.input-error {
  border: 2px solid #d80202;
  background: none;
}

.input-email:focus {
  border-color: var(--DesaturatedRed);
  box-shadow: 0 0 0 2px rgba(218, 186, 186, 0.5);
  outline: none;
}

.input-email ::placeholder {
  font-family: "Josefin Sans", sans-serif;
  color: var(--DesaturatedRed);
  opacity: 0.5;
}

#email-btn {
  /* 提交按鈕的樣式 */
  font-size: 1.25rem;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 0.625rem;
  margin-left: -6.25rem;
  padding: 0.625rem 1.25rem;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  color: white;
  border: none;
  border-radius: 3.125rem;
  cursor: pointer;
  width: 6.25rem;
  height: 3.75rem;
}

#email-btn:hover {
  background: linear-gradient(135deg, hsl(0, 100%, 97%), hsl(0, 100%, 80%));
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.icon-wrong {
  position: relative;
  margin-left: -135px;
  top: 0.45rem;
}

.hidden {
  display: none;
}

#email-message-wrong {
  color: var(--DesaturatedRed);
  margin-top: -1rem;
  padding: 0.625rem 1.5rem;
}

#email-message-success {
  color: rgb(0, 121, 0);
  margin-top: -1rem;
  padding: 0.625rem 1.5rem;
}
