.footer {
  display: fixed;
  color: var(--DarkGrayishRed);
  font-size: 0.8rem;
  margin-left: 4rem;
  opacity: 0.8;
}

.footer a {
  color: var(--DesaturatedRed);
}

@media (max-width: 765px) {
  .footer {
    margin-left: 2rem;
  }
}
