.email-form {
  display: flex;
  align-items: center;
}

.input-email {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: var(--DarkGrayishRed);
  border: none;
  background: none;
  width: 24rem;
  height: 3.25rem;
  margin-bottom: 1.25rem;
  border-radius: 3.125rem;
  border: 1px solid var(--DesaturatedRed);
  padding-left: 1.5rem;
  position: relative; /* 添加相對定位 */
}

/* Styling for the email input field in error state */
.input-error {
  border: 2px solid #f96464;
  background: none;
}

.input-email:focus {
  border-color: var(--DesaturatedRed);
  box-shadow: 0 0 0 2px rgba(218, 186, 186, 0.5);
  outline: none;
}

.input-email::placeholder {
  font-family: "Josefin Sans", sans-serif;
  color: var(--DesaturatedRed);
  opacity: 0.5;
}

#email-btn {
  font-size: 1.25rem;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 0.625rem;
  margin-left: -6.25rem;
  padding: 0.625rem 1.25rem;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  color: white;
  border: none;
  border-radius: 3.125rem;
  cursor: pointer;
  width: 6.25rem;
  height: 3.75rem;
  position: relative;
  top: -0.9375rem;
}

#email-btn:hover {
  background: linear-gradient(135deg, hsl(0, 100%, 97%), hsl(0, 100%, 80%));
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.icon-wrong {
  position: relative;
  margin-left: -8.4375rem;
  top: -0.5rem;
}

/* Used to hide the error icon when there is no validation error 
in the email input */
.hidden {
  display: none;
}

#email-message-wrong {
  color: var(--SoftRed);
  padding-top: 4rem;
}

#email-message-success {
  color: rgb(0, 121, 0);
}

#email-message-wrong,
#email-message-success {
  margin-top: -1rem;
  padding: 0.625rem 1.5rem;
}

@media (max-width: 765px) {
  .email-form {
    margin-bottom: 0rem;
  }

  .input-email {
    width: 16rem;
    height: 2.8125rem;
    left: 3.125rem;
    margin-top: 0.625rem;
  }
  #email-btn {
    width: 3.75rem;
    height: 3.125rem;
    right: -6.25rem;
    top: -0.625rem;
  }

  .icon-wrong {
    margin-left: 0rem;
    top: -0.1rem;
  }

  #email-message-wrong {
    margin-left: -1.25rem;
  }
  #email-message-success {
    margin-left: -9.375rem;
  }
}
