body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
